doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="UTF-8")
    meta(name="description" content="A super handy dashboard that automatically refreshes only the cryptocurrency market data that you're interested in.")
    meta(name="author" content="Michael Warner")

    title CoinConsole :: Customizable Cryptocurrency Dashboard 
    link(href="/assets/css/style.css" rel="stylesheet")
    link(href="/assets/css/font-awesome.min.css" rel="stylesheet")

  body
    div.flex-wrapper
      header#header
        div.container-fluid
          h1.name CoinConsole
          
      main#main
        div#filterbar.container-fluid
          h2.no-margin.filter-title Filter
          div.toggle-buttons
            div.btn.btn-orange.toggle-all(onclick="toggleAll();") Show All
            div.btn.btn-orange.toggle-reset(onclick="toggleReset();") Reset
          div.search
            input.filter-search(type="text" placeholder="Search...")
            //Add a dropdown from the search bar
          ul#filter.no-margin.no-padding
            //Coin toggles get placed here
        div.filterbar-toggle(onClick="toggleFilter();")
          i.fa.fa-filter
        ul#information.no-margin.container-fluid
          //Coin information gets placed here
            
      footer#footer
        div.container-fluid
          a(href="https://github.com/mwarnerdotme/coinconsole")
            i.fa.fa-github.fa-3x
          aside.no-margin 
            small Made with ❤ for cryptocurrency and open source projects
          aside.no-margin
            small 
              strong BTC: 1H7XngDZeqJPmqtZcJysiSgRdU1LuFhMhZ
      script(src="/assets/js/socket.io.min.js")
      script(src="/assets/js/coinconsole.js")
