doctype html
html
  head
    title cmcgod :: customize coinmarketcap
    link(href="/assets/css/style.css" rel="stylesheet")
    link(href="/assets/css/font-awesome.min.css" rel="stylesheet")
  body
    div.flex-wrapper
      header#header
        div.container-fluid
          h1 cmcgod
      main#main
        div#filterbar
          h2.no-margin(style="margin-top: 10px;") Coin Selection
          //div
            div.btn(style="margin: 0 10px 0 0;") Toggle All
            div.btn Toggle None
          div#filter
        div.filterbar-toggle(onClick="toggleFilter();")
          i.fa.fa-filter
        div.container-fluid
          div#information
            h2.get-started.no-margin(style="margin-top: 10px;") Click on the filter icon to get started!
            p Select which coins you want to display on this dashboard
            
      footer#footer
        div.container-fluid
          h2.no-margin Donate
          ul.no-dot.no-margin
            for coin in ['BTC', 'ETH', 'MAID']
              li.inline= coin
          h2.no-margin Github
          p.no-margin Check us out on 
            a(href="https://github.com/mwarnerdotme/cmcgod") Github
          aside.no-margin 
            small Made with ❤ for cryptocurrency and open source projects
      script(src="/assets/js/socket.io.min.js")
      script(src="/assets/js/cmcgod.js")
