extends templates/page

block content
  img(src="/assets/img/logo_main.png" class="branding")
  main#main
    div#filterbar
      div.container-fluid
        div.search
          input.filter-search(type="text" placeholder="Search..." onkeyup="filterSearch(this.value);")
        div.toggle-buttons
          div.btn.btn-yellow.toggle-all(onclick="toggleAll();") Show All
          div.btn.btn-yellow.toggle-reset(onclick="toggleReset();") Reset
      hr.seperator(style="margin-bottom: 0;")
      div.container-fluid  
        ul#filter.no-margin.no-padding
          //Coin toggles get placed here
    div.filterbar-toggle(onClick="toggleFilter();")
      i.fa.fa-filter
    ul#information.no-margin.container-fluid
      //Coin information gets placed here
