/* Setup */
body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  color: #111;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed'
}

.inline {
  display: inline-flex;
  padding: 5px 0;
}

.no-dot {
  list-style-type: none;
  padding: 0;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.img-center {
  margin: 0 auto;
}

.flex-wrapper {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.container-fluid {
  padding: 0 2%;
}

/* Header */

/* Main */
#main {
  background-color: #ddd;
  flex: 1;
}

#filter {
  display: none;
}

.btn {
  background-color: white;
  border: 1px solid #111;
  width: auto;
  padding: 3px 5px;
  display: inline-block;
}

.btn:hover {
  cursor: pointer;
}

.toggle-filter {

}

#charts {

}

.chart-box {
  display: flex;
  flex-flow: column nowrap;
  width: 32%;
  padding: .5%;
}

.chart-box-title {
  font-size: 18px;
}

.chart-box-symbol {

}

.chart-box-title, .chart-box-chart, .chart-box-price-btc, .chart-box-price-usd {
  width: 100%;
  text-align: center;
}

/* Footer */
#footer {
  padding: 10px 0;

}
