footer#footer
  div.container-fluid
    a(href="https://github.com/mwarnerdotme/coinconsole")
      i.fa.fa-github.fa-3x
    aside.no-margin 
      small Made with ❤ for cryptocurrency and open source projects
    aside.no-margin
      small 
        strong BTC: 1H7XngDZeqJPmqtZcJysiSgRdU1LuFhMhZ
include scripts
